@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300;500&family=Archivo:wght@500&family=Ubuntu:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

/*FORM*/

.mainFormContainer {
  width: 100%;
  height:100vw;
  padding: 50px 0;
  background-image: url(./../../public/img/bg-main-form.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}
.form-message {
  width: 100%;
  height: 900px;
  margin-top: 50px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;  
}

.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 1em;
  border-radius: 10px;
}

.form-container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

.form-container h2 {
  font-size: 1rem;
  text-align: center;
}

.form {
  position: relative;
  width: 100%;
  margin: 1rem 0 2rem 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.container-form {
  margin-bottom: 1px;
}

.label-form {
  display: block;
  text-align: left;
  padding: 5px;
}

.input-container-form {
  position: relative;
  transition: .3s ease all;

}
.input-container-form:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

textarea, #name, #phone, #email {	
  display: flex;
  font-size: 1.3rem;
  width: 100%;
  padding: .4rem 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}
input:focus {
  background-color: #c2dcfa;
}

textarea {
  padding-top: 1rem;
  height: 200px;
  
}

textarea:focus {
  background-color: #c2dcfa;
  background-image: url(../../public/img/text_area.png);
  background-repeat: no-repeat;
}

.input-form {
  position: relative;
  z-index: 0;
}

.label-radio {
  text-align: left;
}
.input-radio {
  justify-content: flex-start;
  height: 30px;
}

.input-radio input {
  margin-right: 1rem;
}

.input-radio label {
  padding: 0;
}

.button-icon {
  display: inline;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #025a66dc;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.63);
  box-shadow: 0 0 15px #ffffff; 
  cursor: pointer;
  outline: none;
}
.buttons button {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  color: #00030d;
  text-transform: uppercase;
}
.button-icon:hover {
  color: #d5daf2;
  background-color: #025a66b4;
  transform: scale(1.05);
}
.button-icon:active {
  color: #676a7a;
  background-color: #00424bdc;
  box-shadow: none;
  transform: scale(1);
}

/* **** Validation Styles **** */

.input-error {
  font-size: 12px;
  color: #F66060;
	margin-bottom: 0;
  margin-top: 6px;
	display: none;
}

.validation-status {
  position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
  z-index: 0;
}

.empty-message-form {
  position: absolute;
  height: 45px;
	line-height: 45px;
	color: #F66060;
	padding: 0 15px;
  bottom: 50px;
  left: 0;
  right: 0;
	display: none;
}

.empty-message-form-active {
  display: block;
}

.empty-message-form p {
  margin: 0;
}

.cont-btn-send {
  position: relative;
  margin-top: 20px;
}

.success-message-form {
  position: absolute;
  height: 45px;	
	color: #7dea25;
  padding: 0 15px;
  line-height: 45px;
  text-shadow: 0 0 30px #7dea25;	
  bottom: 25px;
  left: 0;
  right: 0;
	display: none;
  z-index: -1;
}

.success-message-form-active {
  display: block;
}

.container-form-correct .validation-status {
  top: 10px;
	color: #7dea25;
	opacity: 1;
}

.container-form-incorrect .label-form {
	color: #F66060;
}

.container-form-incorrect .validation-status {
  top: 10px;
	color: #F66060;
	opacity: 1;
}

.container-form-incorrect .input-container-form {
  border-radius: 14px;
	border: 3px solid #F66060;
}

/* message input form in dom */

.message-area{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 35%;
  display: none;
}

.message-area-active{
  display: flex;
}

.received-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.portal-img {
  width: 100%;
  box-sizing: border-box;
}

.portal-img img {
  width: 100%;
}

.img-title {
  width: 70%;
  margin-bottom: 10px;
}

.background-mssg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7eea2562;
  width: 80%;
  height: auto;
  margin-top: 30px;
  padding: 15px 5px;
  border: 2px solid #7dea25;
  border-radius: 15px;
  box-shadow: 0 0 30px #7dea25;
}

.text-dimension {
  font-size: 1rem;
  margin-top: 5px;
  text-shadow: 1px 1px 2px #051f39;
}  

#text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 0 ;
}

.label-message {
  font-size: 0.8rem;
  color: #22a2bd;
  margin: 0;
}

.text-message {
  font-weight: 500;
  text-shadow: 1px 1px 4px #051f39;
}

.text-message:last-child {
  margin-bottom: 5px;
}
