/******** Navbar *******/
.main-navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0 10px #00b0c8;
}
.logo {
  width: 30%;
  margin-left: 5vw;
}
.container-navbar {
  width: 100vw;
}
.navbar-collapse {
  margin-right: 5vw;
  display: flex;
  justify-content: flex-end;
}
.navbar-expand-lg {
  display: flex;
  flex-wrap: nowrap;
}

.nav-link {
  font-size: 1.2em;
}
.nav-link:hover {
  text-shadow: 0 0 10px #00b0c8;
}
/******** Home *******/
html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}
.main-home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(0deg, #22696e 0%, #212d35 70%, #212529 100%);
}
.container-text-home {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.title-home {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}
.title-home .img-title {
  width: 70%;
}
.container-btns-home {
  width: 100%;
  height: 30%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
}
.a-form {
  width: 100%;
}
.a-table {
  width: 100%;
}
.a-cards {
  width: 100%;
}
.container-btns-home .btn-home {
  text-align: center;
  position: relative;
  width: 200px;
  height: 70px;
  margin-top: 25px;
  margin-right: 3%;
  border: 2px solid rgba(255, 255, 255, 0.63);
  box-shadow: 0 0 15px #ffffff;
  transition: all 0.3s ease-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-btns-home .btn-home:last-child {
  margin-right: 0;
}
.container-btns-home .btn-home h2 {
  position: relative;
  width: 100%;
  color: #fff;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 1.2em;
  line-height: 66px;
  text-shadow: 1px 0 10px #00000088, -1px 0 10px #00000088, 0 1px 10px #00000088,
    0 -1px 10px #00000088, 1px 1px #00000088, -1px -1px 10px #00000088,
    1px -1px 10px #00000088, -1px 1px 10px #00000088;
  margin-top: 5px;
  transition: all 0.4s cubic-bezier(0.5, 0.49, 0.92, 0.94);
}
.container-btns-home .btn-home h2:first-letter {
  margin-left: 5px;
}
.container-btns-home .btn-home h2::after {
  position: absolute;
  opacity: 0;
  content: "";
  display: block;
  border: 2px solid transparent;
  width: 190px;
  height: 60px;
  top: 5px;
  left: 6px;
  transition: all 0.1333333333s cubic-bezier(0, 0.995, 0.99, 1) 0.1333333333s;
  clip: rect(0px 200px 70px 0px);
}
.container-btns-home .btn-home h2::before {
  position: absolute;
  opacity: 0;
  content: "";
  display: block;
  border: 2px solid transparent;
  width: 190px;
  height: 60px;
  bottom: 2px;
  right: 6px;
  transition: all 0.1333333333s cubic-bezier(0, 0.995, 0.99, 1) 0.1333333333s;
  clip: rect(0px 200px 70px 0px);
}
.container-btns-home .btn-home .btns-styles-home {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.container-btns-home .btn-home .btn-home-cards {
  background-image: url(./../../public/img/bg_button-cards.jpg);
}
.container-btns-home .btn-home .btn-hover-home-cards {
  opacity: 0;
  background-image: url(./../../public/img/bg_hover_button-cards.jpg);
}
.container-btns-home .btn-home .btn-home-table {
  background-image: url(./../../public/img/bg_button-table.jpg);
}
.container-btns-home .btn-home .btn-hover-home-table {
  opacity: 0;
  background-image: url(./../../public/img/bg_hover_button-table.jpg);
}
.container-btns-home .btn-home .btn-home-form {
  background-image: url(./../../public/img/bg_button-form.jpg);
}
.container-btns-home .btn-home .btn-hover-home-form {
  opacity: 0;
  background-image: url(./../../public/img/bg_hover_button-form.jpg);
}
.container-btns-home .btn-home .top {
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  top: -5px;
  left: -5px;
  box-shadow: 0 0 5px #00b0c8;
  transition: all 0.4s cubic-bezier(0, 0.995, 0.99, 1);
}
.container-btns-home .btn-home .right {
  display: block;
  width: 2px;
  height: 0;
  position: absolute;
  top: -5px;
  right: -5px;
  box-shadow: 0 0 5px #00b0c8;
  transition: all 0.4s cubic-bezier(0, 0.995, 0.99, 1);
}
.container-btns-home .btn-home .bottom {
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  box-shadow: 0 0 5px #00b0c8;
  transition: all 0.4s cubic-bezier(0, 0.995, 0.99, 1);
}
.container-btns-home .btn-home .left {
  display: block;
  width: 2px;
  height: 0;
  position: absolute;
  bottom: -5px;
  left: -5px;
  box-shadow: 0 0 5px #00b0c8;
  transition: all 0.4s cubic-bezier(0, 0.995, 0.99, 1);
}
.img-home {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  transition: ease all 0.5s;
}
.rick {
  width: 70%;
}
.rick-2 {
  bottom: 100%;
  width: 20%;
  position: absolute;
  display: none;
}
/******* Hover background button *******/
.container-btns-home .btn-home:hover {
  transform: scale(1.1);
  border: none;
  box-shadow: none;
}
.container-btns-home .btn-home:hover .btns-styles-home {
  filter: brightness(0.3);
}
.container-btns-home .btn-home:hover .btn-home-cards {
  opacity: 0;
}
.container-btns-home .btn-home:hover .btn-hover-home-cards {
  opacity: 1;
}
.container-btns-home .btn-home:hover .btn-home-table {
  opacity: 0;
}
.container-btns-home .btn-home:hover .btn-hover-home-table {
  opacity: 1;
}
.container-btns-home .btn-home:hover .btn-home-form {
  opacity: 0;
}
.container-btns-home .btn-home:hover .btn-hover-home-form {
  opacity: 1;
}
/******* Hover lines button ********/
.container-btns-home .btn-home:hover .top {
  background: #25eac9; /* rgba(255, 255, 255, .5) */
  width: 208px;
}
.container-btns-home .btn-home:hover .right {
  background: #25eac9;
  height: 78px;
}
.container-btns-home .btn-home:hover .bottom {
  background: #25eac9;
  width: 208px;
}
.container-btns-home .btn-home:hover .left {
  background: #25eac9;
  height: 78px;
}
/******* Hover title and brackets button *******/
.container-btns-home .btn-home:hover h2 {
  width: 100%;
  color: #fff;
  letter-spacing: 15px;
  font-size: 20px;
  text-shadow: none;
}
.container-btns-home .btn-home:hover h2:first-letter {
  margin-left: 15px;
}
.container-btns-home .btn-home:hover h2::after {
  opacity: 1;
  border: 3px solid #fff;
  clip: rect(0px 10px 70px 0px);
}
.container-btns-home .btn-home:hover h2::before {
  opacity: 1;
  border: 3px solid #fff;
  clip: rect(0px 200px 70px 180px);
}
/******* Active buttons *******/
.container-btns-home .btn-home:active {
  transition: all 0.1s ease-out;
  transform: scale(1);
}
.container-btns-home .btn-home:active .btns-styles-home {
  filter: brightness(1);
}
.container-btns-home .btn-home:active h2 {
  transition: all 0.1s ease-out;
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .navbar-toggler {
    width: 100%;
    margin-right: 5vw;
    border: none;
    display: flex;
    justify-content: flex-end;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .show {
    align-self: flex-end;
  }
  .links {
    align-items: flex-end;
  }
  .container-text-home {
    width: 100%;
  }
  .img-home {
    width: 40%;
    position: absolute;
    opacity: 0.2;
    z-index: 0;
    left: 40vw;
  }
  .rick {
    display: none;
  }
  .rick-2 {
    bottom: 0;
    width: 90%;
    display: block;
  }
}
/******* Responsive Rick and Morty *******/
@media (max-width: 576px) {
  .rnm-search {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .rnm-next,
  .rnm-prev {
    display: none;
  }
}
.checkedBtn:checked + label {
  background-color: #0b5ed7;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300;500&family=Archivo:wght@500&family=Ubuntu:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none !important; /* Para contrarestar bootstrap */
}
/******* Form *******/
.mainFormContainer {
  width: 100%;
  padding-top: 140px;
  background-image: url(./../../public/img/bg-main-form.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}
.form-message {
  width: 100%;
  height: 900px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}
.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 1em;
  border-radius: 10px;
}
.form-container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  align-items: center;
}
.form-container h2 {
  font-size: 1rem;
  text-align: center;
}
.form {
  position: relative;
  width: 100%;
  margin: 1rem 0 2rem 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}
legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.container-form {
  margin-bottom: 1px;
}
.label-form {
  display: block;
  text-align: left;
  padding: 5px;
}
.input-container-form {
  position: relative;
  transition: 0.3s ease all;
}
.input-container-form:focus {
  border: 3px solid #00b0c8;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
textarea,
#name,
#phone,
#email {
  display: flex;
  font-size: 1.3rem;
  width: 100%;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}
input:focus {
  background-color: #c2dcfa;
}
textarea {
  padding-top: 1rem;
  height: 200px;
}
textarea:focus {
  background-color: #c2dcfa;
  background-image: url(../../public/img/text_area.png);
  background-repeat: no-repeat;
}
.input-form {
  position: relative;
  z-index: 0;
}
.label-radio {
  text-align: left;
}
.input-radio {
  justify-content: flex-start;
  height: 30px;
}
.input-radio input {
  margin-right: 1rem;
}
.input-radio label {
  padding: 0;
}
.button-icon {
  display: inline;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #025a66dc;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.63);
  box-shadow: 0 0 15px #ffffff;
  cursor: pointer;
  outline: none;
}
.buttons button {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  color: #00030d;
  text-transform: uppercase;
}
.button-icon:hover {
  color: #d5daf2;
  background-color: #025a66b4;
  transform: scale(1.05);
}
.button-icon:active {
  color: #676a7a;
  background-color: #00424bdc;
  box-shadow: none;
  transform: scale(1);
}
/******* Validation styles *******/
.input-error {
  font-size: 12px;
  color: #f66060;
  margin-bottom: 0;
  margin-top: 6px;
  display: none;
}
.validation-status {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
  z-index: 0;
}
.empty-message-form {
  position: absolute;
  height: 45px;
  line-height: 45px;
  color: #f66060;
  padding: 0 15px;
  bottom: 50px;
  left: 0;
  right: 0;
  display: none;
}
.empty-message-form-active {
  display: block;
}
.empty-message-form p {
  margin: 0;
}
.cont-btn-send {
  position: relative;
  margin-top: 20px;
}
.success-message-form {
  position: absolute;
  height: 45px;
  color: #7dea25;
  padding: 0 15px;
  line-height: 45px;
  text-shadow: 0 0 30px #7dea25;
  bottom: 25px;
  left: 0;
  right: 0;
  display: none;
  z-index: -1;
}
.success-message-form-active {
  display: block;
}
.container-form-correct .validation-status {
  top: 10px;
  color: #7dea25;
  opacity: 1;
}
.container-form-incorrect .label-form {
  color: #f66060;
}
.container-form-incorrect .validation-status {
  top: 10px;
  color: #f66060;
  opacity: 1;
}
.container-form-incorrect .input-container-form {
  border-radius: 14px;
  border: 3px solid #f66060;
}
/******* Message input form in DOM *******/
.message-area {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 35%;
  display: none;
}
.message-area-active {
  display: flex;
}
.received-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.portal-img {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: -20px;
}
.img-find {
  width: 100%;
}
.img-title {
  width: 100%;
  margin-bottom: 10px;
}
.background-mssg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7eea2562;
  width: 80%;
  height: auto;
  margin-top: 30px;
  padding: 15px 5px;
  border: 2px solid #7dea25;
  border-radius: 15px;
  box-shadow: 0 0 30px #7dea25;
}
.text-dimension {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px #031220;
}
#text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 0;
}
.label-message {
  font-size: 0.9rem;
  color: #81ff4ffb;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
  font-weight: 500;
  margin: 0;
}
.text-message {
  letter-spacing: 2px;
  font-weight: 500;
  text-shadow: 1px 1px 4px #051f39;
}
.text-message:last-child {
  margin-bottom: 5px;
}
/******* Table *******/
.main-table {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(./../../public/img/bg-main-table.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}
.text-center {
  color: #ffffff;
}
/******* Characters *******/
.main-characters {
  position: relative;
  padding-top: 150px;
  background-image: url(./../../public/img/bg-main-characters.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}
.cards {
  border-radius: 10px;
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  background: linear-gradient(
    60deg,
    #4be60e,
    #38aa4b,
    #3835e7,
    #4e5a9e,
    #28c530,
    #abf25f,
    #5ff281,
    #31d447
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: moveGradient 6s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.img-fluid {
  border-radius: 10px 10px 0 0;
  margin: 0.5rem;
  border: solid rgb(0, 0, 0) 2px;
}
.content {
  text-shadow: 2px 2px 5px rgb(235, 188, 87);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0 0 10px 10px;
  border: solid black 2px;
  background-image: url(https://cdn.discordapp.com/attachments/783499342010777631/1018715940881432606/rickandmorty_background.gif);
}
ul.pagination.my-4 {
  margin-bottom: 0 !important;
  padding-bottom: 50px;
}
.badge {
  top: 10px;
  right: 20px;
  font-size: 17px;
}
.checkedBtn:checked + label {
  background-color: #0b5ed7;
  color: white;
}
.checkedBtn[type="radio"] {
  display: none;
}
.rnm-row {
  width: 100%;
}
.filter {
  color: white;
}
.clear-filter {
  color: white;
}
.rnm-search {
  width: 30%;
  height: 2.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.btn-primary {
  border: 2px solid black !important;
  background: rgb(20, 138, 92) !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.rnm-next a,
.rnm-prev a {
  color: white;
}
.page-link {
  color: white !important;
  border: 2px solid black !important;
  border-radius: 5px;
  background: rgb(20, 138, 92) !important;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: black !important;
  background-color: greenyellow !important;
}
.accordion-button {
  background-color: #24b32b !important;
}
.accordion-button:not(.collapsed) {
  color: white !important;
}
.accordion {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-active-color: red !important;
}
.btn-outline-primary {
  --bs-btn-bg: rgb(26, 153, 54) !important;
  border: var(--bs-btn-border-width) solid #020a00 !important;
  color: rgb(0, 0, 0) !important;
  --bs-btn-hover-bg: #03856e !important;
  --bs-btn-hover-border-color: #000000 !important;
  --bs-btn-active-color: rgb(0, 0, 0) !important;
  --bs-btn-active-shadow: inset 0 3px 5pxrgb (7 10 7);
  --bs-btn-active-bg: #03856e !important;
}
.checkedBtn:checked + label {
  background-color: #42b19c !important;
  color: #fff !important;
  box-shadow: 5px 10px 5px #000000 !important;
}
/******* 404 Page not found  *******/
.notfound{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #22696e 0%, #304554 70%, #212529 100%);
}
.notfound img{
  margin-top: 2rem;
  width: 50%;
}
/******* Footer *******/
.text-footer a {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.text-footer a:hover {
  color: #00b0c8;
  text-shadow: 0px 0px 5px #00b0c850;
  right: 0;
  left: 0;
  font-size: 1.03rem;
  transition: 0.3s;
}
.col img {
  margin-right: 1rem;
}